<%- if controller_name != 'sessions' %>
  <%= link_to new_session_path(resource_name) do %>
    <h6 class="grey-text text-darken-1">
      Iniciar Sesión
    </h6>
  <% end %>
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to new_registration_path(resource_name) do %>
    <h6 class="grey-text text-darken-1">
      Registrate
    </h6>
  <% end %>
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to new_password_path(resource_name) do %>
    <h6 class="grey-text text-darken-1">
      ¿Olvidaste tu contraseña?
    </h6>
  <% end %>
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to new_confirmation_path(resource_name) do %>
    <h6 class="grey-text text-darken-1">
      ¿No recibiste las instrucciones de confirmación?
    </h6>
  <% end %>
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to new_unlock_path(resource_name) do %>
    <h6 class="grey-text text-darken-1">
      ¿No recibiste las instrucciones para desbloquear?
    </h6>
  <% end %>
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to omniauth_authorize_path(resource_name, provider) do %>
      <h6 class="grey-text text-darken-1">
        Inicia sesión con #{provider.to_s.titleize}
      </h6>
    <% end %>
  <% end -%>
<% end -%>
