<div class="input-field">
  <%= f.text_field :name, class: "validate" %>
  <%= f.label :name, "Nombre" %>
</div>
<div class="input-field">
  <%= f.text_field :uid, class: "validate" %>
  <%= f.label :uid, "Nomina" if teacher %>
  <%= f.label :uid, "Matricula" if !teacher %>
</div>
<div class="input-field">
  <%= f.text_field :email, class: "validate" %>
  <%= f.label :email, "Correo" %>
</div>
<div class="input-field">
  <%= f.password_field :password, class: "validate" %>
  <%= f.label :password, "Contraseña" %>
</div>
<div class="input-field">
  <%= f.password_field :password_confirmation, class: "validate" %>
  <%= f.label :password_confirmation, "Confirmar Contraseña" %>
</div>
