<div class="row" style="margin-top: 20px;">
  <div class="col s2">&nbsp;</div>
  <div class="col s8 z-depth-2">
    <%= link_to new_course_path do %>
      Crear Materia
    <% end %>
    <h4>Cursos</h4>
    <table class="hoverable">
      <thead>
        <tr>
          <th data-field="name">Nombre</th>
          <th data-field="code">Clave</th>
          <th data-field="selectable">Tópico a elegir</th>
          <th data-field="erase">¿Borrar?</th>
        </tr>
      </thead>
      <tbody>
      <% @courses.each do |course| %>
        <tr>
          <td><%= course.name %></td>
          <td><%= course.code %></td>
          <td><%= course.selectable? ? "SI" : "NO" %></td>
          <td><%= link_to "BORRAR", course, method: :delete %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="col s2">&nbsp;</div>
</div>
