<div class="row" style="margin-top: 20px;">
  <div class="col s2">&nbsp;</div>
  <div class="col s8">
    <% if @course.errors.any? %>
      <ul>
        <% @course.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        <% @course.requirements.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
    <%= form_for @course do |f| %>
      <div class="row blue z-depth-1" style="margin-bottom: 0; padding-top: 20px;">
        <div class="input-field" style="margin-left: 40px; margin-right: 40px;">
          <%= f.text_field :name, id: "className", class: "validate white-text" %>
          <%= f.label :name, "Nombre de Materia", class:"white-text" %>
        </div>
      </div>
      <div class="white z-depth-1" style="padding-top: 20px;">
        <div class="row input-field" style="margin-left: 40px; margin-right: 40px;">
          <div class="col s12">
            <%= f.text_field :code, class:"validate" %>
            <%= f.label :code, "Clave" %>
          </div>
        </div>

        <div class="row input-field" style="margin-left: 40px; margin-right: 40px;">
          <div class="col s12">
            <%= f.text_area :description, class:"validate materialize-textarea" %>
            <%= f.label :description, "Descripción" %>
          </div>
        </div>

        <div class="row" style="margin-left: 40px; margin-right: 40px;">
          <div class="col s12">
            <%= f.check_box :selectable, checked: true, class: "filled-in" %>
            <%= f.label :selectable, "Tópico a elegir" %>
          </div>
        </div>

        <div class="row" style="margin-left: 40px; margin-right: 40px; margin-top:10px;">
          <div class="input-field col s12">
            <%= f.select :category_id, options_for_select(Category.pluck(:name, :id)) %>
            <%= f.label :category_id, "Categoría" %>
          </div>
        </div>
        <input type="hidden" id="requirements_field" name="course_requirements" value="" />
        <ul id="myTags" style="border:none; margin-left:40px; margin-right:40px;">
         </ul>

        <div class="center" style="padding-bottom: 30px; margin-top:10px;">
          <%= f.button(type: "submit", class:"btn waves-effect waves-light") do %>
            Crear Materia <i class="mdi-content-send right"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col s2">&nbsp;</div>
</div>
