<!DOCTYPE html>
<html>
  <head>
    <title>Miid</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if user_signed_in? %>
      Signed in as <%= current_user.email %>. Not you?
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign up As Teacher", new_teacher_path %> or
      <%= link_to "Sign up As Student", new_student_path %> or
      <%= link_to "Sign in", new_user_session_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
